@import "../../style.scss";

.post-only {
  @include themify($themes) {
    min-height: 90vh;
    background-color: themed("bgSoft");
    padding: 20px 0;

    .post-only-container {
      width: 800px;
      margin: 0 auto;

      h2 {
        text-align: center;
        color: themed("textColor");
        font-weight: 500;
      }
    }
  }
}
