@import "../../style.scss";

.profile {
  @include themify($themes) {
    @include mobile {
      padding: 10px;
      padding-bottom: 70px;
    }
    padding: 10px 15px;
    min-height: 90vh;
    background-color: themed("bgSoft");

    .images {
      @include mobile {
        height: 200px;
      }
      position: relative;
      height: 400px;
      width: 100%;

      .cover {
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }

    .profile-container {
      @include mobile {
        padding: 10px;
      }
      position: relative;
      padding: 10px 20px;
      padding-bottom: 30px;
      color: themed("textColor");
      margin-bottom: 30px;
      background-color: themed("bg");
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);

      .first-row {
        display: flex;
        justify-content: right;
        .avatar {
          @include mobile {
            width: 80px;
            height: 80px;
            top: 25px;
            left: 50px;
          }
          width: 180px;
          height: 180px;
          border-radius: 50%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 100px;
          transform: translate(-50%, -50%);
        }

        .follower {
          display: flex;
          gap: 40px;
          align-items: center;

          p {
            display: flex;
            align-items: center;
            gap: 7px;
            font-size: 16px;
            color: themed("textColorSoft");
            cursor: pointer;

            span {
              @include mobile {
                font-size: 14px;
              }
              font-weight: bold;
              font-size: 20px;
              color: themed("textColor");
            }
          }
        }
      }

      .user-info {
        @include mobile {
          padding-top: 5px;
        }
        display: flex;
        padding-top: 20px;
        justify-content: space-between;
        align-items: center;

        .left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .username {
            @include mobile {
              font-size: 14px;
            }
            font-size: 24px;
            margin: 15px 0;
          }

          .social-media {
            display: flex;
            gap: 25px;

            .icon {
              @include mobile {
                font-size: 30px;
              }

              cursor: pointer;
            }
          }
        }
      }

      .right {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        button {
          background-color: lightgrey;
          outline: none;
          border: none;
          width: 120px;
          height: 40px;
          font-size: 16px;
          cursor: pointer;
          border-radius: 5px;
          font-weight: 500;

          @include mobile {
            width: 60px;
            height: 30px;
            font-size: 12px;
          }

          &.chat-btn {
            background-color: #0095f6;
            color: white;

            &:hover {
              background-color: #56b2ef;
            }
          }
        }
      }
    }
  }

  .post-place {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
