@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: space-between;
    border-bottom: 1px solid themed("border");
    padding: 0 15px;
    background-color: themed("bg");
    position: sticky;
    top: 0;
    left: 0;
    color: themed("textColor");
    z-index: 10;

    .icon {
      cursor: pointer;
      color: themed("textColor");
    }

    .left {
      @include mobile {
        justify-content: space-between;
        width: 100%;
      }

      display: flex;
      align-items: center;
      gap: 30px;

      .title {
        @include mobile {
          font-size: 20px;
          width: 120px;
        }

        color: themed("logo");
        font-weight: bold;
        font-size: 24px;
      }

      .search-bar {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        position: relative;
        border: 1px solid themed("border");

        input {
          @include mobile {
            display: none;
          }
          width: 500px;
          outline: none;
          background-color: transparent;
          color: themed("textColor");
          border: none;

          &:focus {
            border-color: darkblue;
          }
        }

        .filter {
          position: absolute;
          padding: 10px;
          width: calc(100% + 1.5px);
          top: 34px;
          left: -1px;
          background-color: themed("bg");
          z-index: 999;
          border: 1px solid themed("border");
          display: flex;
          flex-direction: column;
          gap: 15px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;

          .user-item {
            display: flex;
            gap: 10px;
            padding: 10px;
            border-radius: 10px;
            img {
              @include avatar;
            }

            &:hover {
              background-color: themed("bgSoft");
            }
            .name {
              margin: 0;
              padding: 5px;
            }
          }
        }
      }
    }

    .right {
      @include mobile {
        display: none;
      }
      display: flex;
      align-items: center;
      gap: 30px;
      .user {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        img {
          margin-right: 7px;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
